@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 98%);
  font-family: "Poppins", sans-serif;
}

header {
  max-width: 500px;
  text-align: center;
  margin: 10px auto;
}

h1 {
  font-weight: 200;
  margin: 0;
}

h1 strong {
  display: block;
  font-weight: bold;
}

p {
  color: hsl(229, 6%, 66%);
}

/* container */

.container {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box {
  background: #fff;
  padding: 30px;
  margin: 15px;
  width: 350px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05), 0 6px 6px rgba(0, 0, 0, 0.01);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  /* background-color: ; */
}

.box-red::after {
  background: hsl(0, 78%, 62%);
}

.box-cyan::after {
  background: hsl(180, 62%, 55%);
}
.box-orange::after {
  background: hsl(34, 97%, 64%);
}
.box-blue::after {
  background: hsl(212, 86%, 64%);
}

.box-push {
  transform: translateY(50%);
}

.box h2 {
  margin: 0;
}

.box p {
  font-size: 14px;
  margin: 15px 0 30px;
}

.box img {
  display: block;
  margin-left: auto;
}

/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 800px) {
  .box-push {
    transform: translateY(0);
  }
}
