@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  background: hsl(0, 0%, 100%);
  color: hsl(300, 43%, 22%);
}

/* header */
header {
  max-width: 1100px;
  margin: 3rem auto;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
}

/* header_left */

header .left {
  width: 40%;
  margin: 0.6rem;
}

header .left h1 {
  font-size: 2.5rem;
}
header .left p {
  margin-top: 0.9rem;
  color: hsl(333, 80%, 67%);
  font-size: 0.9rem;
}

/* header_right */

header .right {
  width: 40%;
}

header .right div {
  background: hsl(300, 24%, 96%);
  margin: 0.6rem 0;
  padding: 1.1rem;
  border-radius: 7px;
}

header .right div.right-a {
  transform: translateX(-20%);
}

header .right div.right-b {
  transform: translateX(-10%);
}

header .right div.right-c {
  transform: translateX(0%);
}

header .right div span {
  margin-left: 0.8rem;
  font-weight: 600;
}

/* main_section */

.container {
  max-width: 1120px;
  margin: 5.2rem auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.box {
  width: 350px;
  background: hsl(300, 43%, 22%);
  margin: 0.7rem;
  padding: 2rem;
  color: hsl(0, 0%, 100%);
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.box.box1 {
  transform: translateY(-20%);
}

.box.box2 {
  transform: translateY(-10%);
}
.box.box3 {
  transform: translateY(0%);
}

.box .logo {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.box .logo div {
  margin-left: 1.2rem;
}
.box .logo div h3 {
  font-size: 0.9rem;
}

.box .logo div p {
  margin-top: 0.3rem;
  color: hsl(333, 80%, 67%);
}

.box > p {
  margin-top: 1.3rem;
  font-size: 14px;
}

.box img {
  width: 20%;
  border-radius: 50%;
}

/* footer */
.attribution {
  margin-bottom: 1rem;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* media Query */

@media (max-width: 700px) {
  header {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  header .left {
    width: 70%;
  }
  header .right {
    width: 80%;
  }
  header .right div.right-a {
    transform: translateX(0%);
  }

  header .right div.right-b {
    transform: translateX(0%);
  }

  header .right div.right-c {
    transform: translateX(0%);
  }
  header .right div {
    text-align: center;
  }
  header .right div span {
    display: block;
  }
  .container {
    flex-direction: column;
    margin-top: 0.7rem;
    margin-bottom: 1rem;
  }
  .box.box1 {
    transform: translateY(0%);
  }

  .box.box2 {
    transform: translateY(0%);
  }
  .box.box3 {
    transform: translateY(0%);
  }
}
